#calendar-container {
  width: 100%;
}

.grid-container {
  margin-top: var(--header-height);
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(25, 1fr);
}

.grid-item {
  border: 1px solid #52525b;
  padding: 10px;
  text-align: center;
  height: calc(var(--header-height) * 1.618);
}

.header-row {
  color: white;
  position: sticky;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.date-name {
  font-size: 0.7rem;
}

.date-number {
  font-size: 1.5rem;
  font-weight: bold;
}
/* 
.grid-item:nth-child(8n + 1) {
  width: 50px;
} */
/* grid-template-columns: repeat(8, minmax(calc(100% - 80px), 1fr)); */
