dialog {
  z-index: 2;
  position: absolute;
  color: var(--color-brand-primary);
  background: #030712;
  border: 1px solid var(--color-brand-secondary);
  margin: 0;
}

dialog::backdrop {
  pointer-events: all;
}

#event-creation-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-brand-primary);
  color: var(--color-brand-primary);
  border-radius: 10px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

input[type="text"],
input[type="datetime-local"],
textarea {
  padding: 8px;
  border: 1px solid var(--color-brand-secondary);
  border-radius: 4px;
  background-color: var(--color-brand-tertiary);
  color: var(--color-brand-primary);
}

textarea {
  resize: vertical;
}

#create-event-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-accent-primary);
  color: var(--color-brand-primary);
}
